body {
  background-color: #fbebea;
}

a {
  width: 25px;
  height: 5px;
  font-family: PTSans;
  font-size: 7px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #2d2829;
}

button {
  width: 113px;
  height: 25.5px;
  border-radius: 12.8px;
  background-color: #f50049;
}

number {
  width: 29px;
  height: 16px;
  font-family: PlayfairDisplay;
  font-size: 29px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: 0.3px;
  text-align: left;
  color: #f50049;
}

