body {
  background-color: #fbebea;
}

a {
  font-family: PTSans;
  font-size: 7px;
  line-height: 2px;
  color: #2d2829;
}

button {
  width: 113px;
  height: 25.5px;
  border-radius: 12.8px;
  background-color: #f50049;
}

